<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<table border="1" cellpadding="10">
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Email</td>
        <td>Age</td>
        <td>Link</td>
    </tr>
    <div th:each="user : ${users}">
    <tr>
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}">VALUE</td>
        <td th:text="${user.getEmail()}">VALUE</td>
        <td th:text="${user.getAge()}">VALUE</td>
        <td>
            <a th:href="@{/users/{id}(id=${user.getId()})}"/>Show
        </td>
    </tr>
    </div>
</table>

<br/>
<hr/>

<a href="/users/new">Create new user</a>

</body>
</html>