<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<table border="1" cellpadding="10">
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Email</td>
        <td>Age</td>
    </tr>
    <tr>
        <td th:text="${user.getId()}">VALUE</td>
        <td th:text="${user.getName()}">VALUE</td>
        <td th:text="${user.getEmail()}">VALUE</td>
        <td th:text="${user.getAge()}">VALUE</td>
    </tr>
</table>
<a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit</a>
<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete">
</form>

</body>
</html>