<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<form th:action="@{/admin/edit}" th:object="${user}" method="post">
    <p><input type="hidden" th:field="*{id}" /></p>

    <p><label for="username">username</label></p>
    <p><input type="text" th:field="*{username}" id="username" value="name" required></p>

    <p><label for="name">name</label></p>
    <p><input type="text" th:field="*{name}" id="name" value="name"></p>

    <p><label for="password">password</label></p>
    <p><input type="password" th:field="*{password}" id="password" value="password"></p>

    <p><label for="email">email</label></p>
    <p><input type="text" th:field="*{email}" id="email" value="email"></p>

    <p><label for="age">age</label></p>
    <p><input type="number" th:field="*{age}" id="age" value="age"></p>

    <ul>
        <li th:each="role : ${rolelist}">
            <input type="checkbox" name="roles" th:field="*{roles}" th:value="${role}"
                   th:text="${role.getName()}" />
        </li>
    </ul>
    <p>
        <input type="submit" value="edit">
    </p>

</form>
<p>
<form method="post" th:action="@{/logout}" >
    <input type="submit" value="Logout"/>
</form>
</p>
</body>
</html>