<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your profile</title>
</head>
<body>
<table border="1" cellpadding="10">
    <thead>
    <tr>Your profile</tr>
    </thead>
    <tbody>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Password</th>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
    </tr>
    <td th:text="${user.id}"></td>
    <td th:text="${user.username}"></td>
    <td th:password="${user.password}"></td>
    <td th:text="${user.name}"></td>
    <td th:text="${user.email}"></td>
    <td th:text="${user.age}"></td>
    </tbody>
</table>
<p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="logout"/>
</form>
</p>
</body>
</html>